---
---
@import "{{ site.theme }}";

.main-content blockquote {
    padding: 10px 10px 10px 10px;
    margin-left: 0px;
    /* color: #f3f6fa; */
    border-left: 0.2rem solid #15995794;
    background: #1599571a;
}