<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body class="light">
    <header class="page-header" role="banner">
        <div class="page-header-left">
            <h1 class="page-header-left"># Apunts GEI</h1>
        </div>
        <div class="page-header-right">
            <button id="theme-switcher" class="switch-button">
                Switch Theme
            </button>
        </div>
    </header>
    <div class="container">
        <div id="table-of-contents" class="sidebar">
            <!-- Table of contents will be generated here -->
        </div>
        <main id="content" class="main-content" role="main">
            {{content}}
        </main>
    </div>
    <script>
        // Select all headers within the main content
        var headers = document.querySelectorAll(
            ".main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6"
        );

        // Select the table of contents
        var tableOfContents = document.getElementById("table-of-contents");

        // Initialize the previous header level to 6 (the highest possible header level)
        var previousHeaderLevel = 6;

        // Regular expression to match a number at the start of the header text
        var numberRegex = /\d+\./g;

        // Loop through each header
        for (var i = 0; i < headers.length; i++) {
            // Get the current header level
            var currentHeaderLevel = parseInt(headers[i].tagName.substring(1));

            // Get the text of the header
            var headerText = headers[i].textContent;
            headerText = headerText.replace(numberRegex, function (match) {
                return "<strong>" + match + "</strong>";
            });

            // Create a new anchor element
            var anchor = document.createElement("a");

            // Set the href attribute to the ID of the corresponding header
            anchor.href = "#" + headers[i].id;

            // Create a new paragraph element
            var paragraph = document.createElement("p");

            // Set the class of the paragraph element based on the header level
            paragraph.className =
                "sidebar-item-" + headers[i].tagName.toLowerCase();

            // Set the HTML of the paragraph element to the header text
            paragraph.innerHTML = headerText;

            // Append the paragraph element to the anchor element
            anchor.appendChild(paragraph);

            // Append the anchor element to the table of contents
            tableOfContents.appendChild(anchor);

            // Add click event listener to scroll to the corresponding header
            anchor.addEventListener("click", function (event) {
                event.preventDefault();
                var targetId = this.getAttribute("href").substring(1);
                var targetElement = document.getElementById(targetId);
                targetElement.scrollIntoView({ behavior: "smooth" });
            });

            // Update the previous header level
            previousHeaderLevel = currentHeaderLevel;
        }
    </script>
    <script>
        btSwitch = document.getElementById("theme-switcher")
        btSwitch.addEventListener("click", function () {
                var body = document.body;
                if (body.classList.contains("light")) {
                    body.classList.remove("light");
                    body.classList.add("dark");
                } else {
                    body.classList.remove("dark");
                    body.classList.add("light");
                }
            });
    </script>
</body>
